.loginFormContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.mainContainer {
  position: relative;
  z-index: 2;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loginPaper {
  padding: 20px;
  width: 100%;
  max-width: 360px;
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.loginButton {
  margin: 20px 0 !important;
}
